<section class="container-confirmation">
    <div>
      <img class="confirmation-logo" src="https://res.cloudinary.com/evilvic/image/upload/v1581298343/zombiCody/profile/brain_nkm6gm.png" alt="zombiCody">
    <div class="confirmation-text">
      <h1>Bienvenido a zombiCody, {{this.username}}!</h1>
      <p>Confirma la activación de tu cuenta en el correo electrónico que te hemos enviado.<br>
      De no encontrarlo en tu bandeja de entrada, revisa tu carpeta de spam.</p>
    </div>
  </div>
</section>
