<section class="container-login">
  <form id="login" action="/auth/login" method="POST">
    <h2>¡Es bueno verte de nuevo!</h2>
    <div>
      <label for="username">Usuario:</label>
      <input type="text" name="username" placeholder="zombiCody" required>
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" name="password" required>
    </div>
    <input type="submit" value="Inicia sesión">
  </form>
</section>


