<h1>Log in</h1>
<form action="/auth/login" method="POST">
  <label for="username">Usuario:</label>
  <input type="text" name="username" placeholder="zombiCody" required>
  <label for="password">Contraseña:</label>
  <input type="password" name="password" required>
  <input type="submit">
</form>