<section class="container-column">
  <form id="signup" action="/auth/signup" method="POST">
    <h2>Regístrate</h2>
    <div>
      <label for="birthday">¿Cuál es tu fecha de nacimiento?</label>
      <input type="date" name="birthday" required>
    </div>
    <div>
      <label for="email">El correo electrónico de uno de tus padres o de tu tutor legal</label>
      <label for="email2">Ingresa tu correo electrónico</label>
      <input type="email" name="email" placeholder="zombi@cody.com" required>
    </div>
    <div>
      <label for="username">Elige un nombre de usuario</label>
      <input type="text" name="username" placeholder="zombiCody" required>
    </div>
    <div>
      <label for="password">Crea una contraseña</label>
      <input type="password" name="password" required>
    </div>
    <input type="submit" value="Confirmar registro">
  </form>
  <button id="validation" onclick="register()">Elige un nombre de usuario</button>
  <p>{{message}}</p>
</section>