<footer>
  <div>
    <img src="/images/profile/hand.png" alt="zombi hand">
    <a href="/info/about">ACERCA</a>
    <a href="/info/privacy">PRIVACIDAD</a>
    <a href="/info/terms">TÉRMINOS Y CONDICIONES</a>
    <p>Hecho con ❤️ & 🧠 por <br> Luis Lozano y Víctor Peña en Ironhack</p>
  </div>
</footer>