<nav>
  <a href="/">
    <div id="logo">
      <img src="/images/identity/logo.png" alt="zombiCody">
      <p>zombiCody</p>
    </div>
  </a>
  <button onclick="showMenu()"><i class="fas fa-bars"></i></button>
  <div id="menu">
    <a href="/courses"><p class="link">CURSOS</p></a>
    <a href="/auth/signup"><p class="link">ÚNETE</p></a>
    <a href="/auth/login"><p class="link">INICIA SESIÓN</p></a>
  </div>
</nav>