<h1>En ésta página se crea el set</h1>
<form action="/create/course" method="POST" enctype="multipart/form-data">
    <label>Título</label>
    <input type="text" name="title">
    <label>Descripción</label>
    <input type="text" name="description">
    <label>Imagen</label>
    <input type="file" name="portrait">
    <input type="submit">
</form>