<section id="course-create-container">

<form action="/create/course" method="POST" enctype="multipart/form-data">
    <h2>Crea un curso</h2>
    <div>
      <label>Título</label>
      <input type="text" name="title">
    </div>
    <div>
      <label>Descripción</label>
      <input type="text" name="description">
    </div>
    <div>
      <label>Materia</label>
      <select name="courseCode" >
          <option value="Matemáticas">Matemáticas</option>
          <option value="Lenguajes">Lenguajes</option>
      </select>
    </div>
    <div>
      <label>Imagen</label>
    </div>
    <div>
      <input type="file" name="portrait">
    </div>
    <input type="submit" value="Crear preguntas">
</form>

</section>