
<header>
  <div>
    <h2>Desarrolla tu habilidad para resolver problemas</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <a href="/auth/signup">Comenzar</a>
  </div>
</header>

<section>
  <h2>¿Cómo funciona?</h2>
  <article>
    <img src="/images/identity/do.png" alt="Elige que aprender">
    <h3>Elige que aprender</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </article>
  <article>
    <img src="/images/identity/feedback.png" alt="Aprende haciendo">
    <h3>Aprende haciendo</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </article>
  <article>
    <img src="/images/identity/trophy.png" alt="Obten logros">
    <h3>Obten logros</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </article>

</section>