<nav>
  <div id="logo">
    <img src="/images/identity/logo.png" alt="zombiCody">
    <p>{{title}}</p>
  </div>
  <button onclick="showMenu()"><i class="fas fa-bars"></i></button>
  <div id="menu">
    <a href="#"><p class="link">CURSOS</p></a>
    <a href="/auth/signup"><p class="link">ÚNETE</p></a>
    <a href="/auth/login"><p class="link">INICIA SESIÓN</p></a>
  </div>
</nav>
<header>

</header>