<div>
  <div>
    <h1>Tablero</h1>
    <a href="/auth/logout">Cerrar sesión</a>
  </div>
  <div>
    <p>Hola {{ this.username }}!</p>
  </div>
  <div>
    <p>Este es tú tablero y aquí puedes encontrar:</p>
    <ul>
      <li>Avatar de perfil</li>
      <li>Cursos completados</li>
      <li>Logros conseguidos</li>
    </ul>
  </div>
  <div>
    <p>En configuración puedes cambiar el avatar de tu perfil y borrar tu cuenta si así lo deseas.</p>
    <p>Para cerrar tu sesión, solo da click en el "Cerrar sesión", lo que se encuentra en la esquina superior derecha.</p>
  </div>
  <img src="{{this.photoUrl}}" alt="">
  <p>@{{ this.username }}</p>  
  <a href="/private/settings">Configuración</a>
</div>