<h1>Configuraci칩n</h1>
<form action="/auth/delete" method="POST">
  <h2>Borrar cuenta</h2>
  <label for="username">Nombre de usuario:</label>
  <input type="text" name="username" placeholder="zombiCody" required>
  <h2>Al presionar el bot칩n confirmar, tu cuenta quedar치 eliminada. Esta acci칩n no puede ser deshecha.</h2>
  <input type="submit">
</form>