<div class="about">
  <h1>zombiCody</h1>
  <h2>Acerca de</h2>
  <p>zombiCody es una plataforma educativa en donde nuestro principal objetivo es fomentar en las niñas y niños la solución de problemas y el pensamiento
    critico. 
  </p>
  <br>
  <p>Quienes estamos detrás de zombieCody compartimos la pasión por enseñar y creemos firmemente que desarrollar de manera temprana la 
    habilidad de resolver problemas es algo fundamental.
  </p>
  <br>
  <p>En nuestra plataforma encontraran cursos los cuales tiene como objetivo fomenta el pensamiento crítico, la lógica y la destructuración de problemas; todo con el fin de ayudar a las siguientes generaciones a contar,
    desde temprana edad, con estas habilidades.
  </p>
  <br>
  <p>Nuestro contenido está hecho pensando en esto y a su vez con mucho amor, puesto que disfrutamos mucho el crear una plataforma interactiva y entretenida que ayude 
    al temprano desarrollo y aprendizaje. 
  </p>
  <h2>zombiCody - Aprende haciendo.</h2>
</div>
<a class="about-a" href="/">Regresa a página principal</a>