<h1>zombiCody</h1>
<h2>Acerca de</h2>
<p>zombiCody es una plataforma educativa en donde nuestro principal objetivo es fomentar en las niñas y niños lógica, solución de problemas y
  principalmente la introducción a la programación. 
</p>
<p>Quienes estamos detrás de zombieCody compartimos la pasión por enseñar y creemos firmemente que la habilidad de programar es 
  algo fundamental que se debe fomentar en las niñas y niños, ya que hoy en día es tan necesario como lo era y es el aprender inglés.
</p>
<p>En nuestra plataforma encontraran cursos los cuales fomentan el pensamiento crítico, la lógica, la destructuración de problemas y
  una introducción básica a la programación; todo con el fin de ayudar a las siguientes generaciones a contar, desde temprana edad, con
  estas habilidades.
</p>
<p>Nuestro contenido está hecho pensando en esto y a su vez con mucho amor, puesto que es nuestro deseo compartir estos conocimientos y
  disfrutamos mucho el crear una plataforma interactiva y entretenida que ayude al temprano desarrollo y aprendizaje de las niñas y niños. 
</p>
<h2>zombiCody - Aprende haciendo</h2>
<a href="/">Regresa a página principal</a>