<h1>zombiCody</h1>
<h2>Aviso de Privacidad</h2>
<p>En cumplimiento a la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados, ponemos a su disposición el presente Aviso de Privacidad, mediante el cual hacemos de su conocimiento los datos personales que recabamos de usted, el uso y manejo que se les da.</p>
<h3>Qué datos personales recabamos de usted?</h3>
<p>zombiCody recaba un nombre de usuario, correo electrónico y contraseña para la apertura de su cuenta. En ningún momento requerimos de nuestros usuarios que nos proporcionen datos personales como nombre, domicilio, estado civil, entre otros. Sí se requiere que nos sea proporcionada la edad de quien va a registrar la cuenta (información que después del registro no se guarda en nuestra base de datos) para determinar si se trata de una persona menor de edad o no. En caso de tratarse de una persona menor de edad, se requiere se proporcione el correo electrónico del padre, guardián o tutor para que por medio de ese correo, sea activada la cuenta.
El nombre de usuario, correo y contraseña con los que se haya aperturado una cuenta, quedan guardados en nuestra base de datos.</p>
<h3>Para qué usamos los datos que recabamos de usted?</h3>
<p>Única y exclusivamente para contar con el registro de usuario, poder iniciar sesión en nuestra plataforma, tomar los cursos con los cuales contamos, llevar el seguimiento de su progreso y otorgar logros al perfil del usuario por completar dichos cursos.</p>
<h3>Con quién compartimos su información y para qué fines?</h3>
<p>La información que se proporciona a zombiCody no se comparte con nadie y estos datos sólo son tratados por el personal de la plataforma para dar cumplimiento con lo mencionado en el punto que antecede.</p>
<h3>Cómo puede limitar el uso de su información, acceder rectificar o eliminar la información proporcionada?</h3>
<p>Después de aperturar una cuenta, en todo momento usted cuenta con la posibilidad de acudir a la sección de configuración en su perfil y modificar el campo de nombre de usuario, correo y/o contraseña. A su vez, si desea eliminar su cuenta, basta con seleccionar la opción que hemos puesto a la disposición en la misma sección de configuración de cuenta y esta quedara eliminada de manera inmediata.</p>
<h3>Como conocer los cambios al presente aviso de privacidad?</h3>
<p>Cualquier cambio y/o actualización al presente aviso será publicado en nuestra plataforma en su sección correspondiente.
</p>
<h3>Como contactarnos?</h3>
<p>En caso de duda, puede enviar correo electrónico a la cuenta: zombi@cody.org</p>
<a href="/">Regresa a página principal</a>