<h1>zombiCody</h1>
<h2>Terminos y Condiciones</h2>
<p>
  Bienvenido y gracias por tu interes en zombiCody, organización, quienes operamos el sitio web llamado http:zombiCody.org y aplicaciones relacionadas
  así como los servicios que la Compañia pueda proporcionar ahora o en el futuro (en conjunto referido como el "Servicio").
  Los siguientes Términos de Servicio son un contrato legal entre usted (ustedes) y zombiCody concerniente al uso que usted le da a nuestro Servicio.
  Los visitantes y los usuarios del Servicio son referidos de manera individual como "Usuario" y colectivamente como "Usuarios"
  <br>
  POR FAVOR, LEE CUIDADOSAMENTE LOS SIGUIENTES TERMINOS DE SERVICIO, YA QUE, AL REGISTRARTE EN NUESTRO SITIO, ACCESARLO, BUSCAR EN EL O USARLO, DEJAS DE MANIFIESTO QUE HAS LEIDO, ENTENDIDO Y ESTAS DE ACUERDO A ACATAR LOS SIGUIENTES TERMINOS Y CONDICIONES, ASI COMO
  EL AVISO DE PRIVACIDAD DE ZOMBICODY Y CUALQUIER LINEAMIENTO QUE SE DEFINA, COLECTIVAMENTE LLAMADO LOS TERMINOS.
  TEN EN CUENTA QUE AL ACEPTAR LOS SIGUIENTES TERMINOS Y CONDICIONES, DEJA DE MANIFIESTO QUE USTED SE ACATA A LA LEGISLACION MEXICANA Y RENUNCIA A LA JURISDICCION EN DONDE SE ENCUENTRE, SUJENTANDOSE UNICA Y
  EXCLUSIVAMENTE A LA JURISDICCION DE LA REPUBLICA MEXICANA, EN ESPECIFICO A LOS TRIBUNALES EXISTENTES EN LA CIUDAD DE MEXICO, EN LOS CUALES SE RESOLVERA CUALQUIER
  DISPUTA, CONFLICTO O RECLAMO QUE USTED DECIDA REALIZAR EN CONTRA DE ZOMBICODY.
</p>
<p>
1.- Eligibilidad: Cuentas. Nuestra plataforma no se encuentra disponible para los usuarios que previamente hayan sido suspendidos o removidos de nuestro sitio por zombiCody o CUALQUIER PERSONA MENOR DE EDAD CUYO REIGSTRO NO HAYA SIDO APROBADO POR SU ASCENDIENTE LEGITIMO, TUTOR O GUARDIAN.
2.- Al confirmar la cuenta mediante el correo electrónico que se te envía, dejas de manifiesto que: I.- Eres el tutor, guardían o padre del menor de edad que desea abrir una cuenta en zombiCody y estás de acuerdo
con los términos y condiciones o II.- Eres una persona mayor de edad en tú lugar de residencia y estas de acuerdo con los términos y condiciones.
3.- Cuenta. Para usar ciertas opciones de nuestro Servicio, debes de registrarte con una cuenta. Podrá ser que se te pregunte por una contraseña en conexión con tu cuenta. Usted es el único responsable de mantener la confidencialidad de dicha su cuenta y contraseña y acepta toda la responsabilidad de todas y cada una de las 
actividades que ocurran bajo su cuenta.
4.- Toda vez que zombieCody no recaba información personal, la responsabilidad del usuario es dar un uso légitimo a la cuenta creada, mantener de manera confidencial su usuario, contraseña y correo así como el hecho de que, en dado caso de que el usuario tenga sospecha de que su cuenta no es segura, debido a perdida, robo, acceso no autorizado, acepta que deberá de manera inmediata notificar a
zombiCody a través de zombi@cody.com de este hecho; toda vez que el usuario será responsable de cualquier daño o perjuicio que pueda llegar a sufrir zombiCody a causa de esta situación.
5.- Usuario menor de edad: Si eres menor de edad, no puedes crear o registrar una cuenta para el uso de nuestros Servicios sin el consentimiento y aprobación de tu padre, tutor o guardían. El correo proporcionado deberá ser de una de las tres personas anteriores y la confirmación de la cuenta deberá ser realizada a través de su correo.
Por otra parte, zombiCody no se hace responsable de la suplantación de identidad para el caso que un menor sin supervición de su padre, tutor o guardían abra una cuenta sin haber proporcionado un correo que sea alguien autorizado para confirmar la apertura de la reiterada cuenta.
6.- Usuario Padre, Tutor o Guardián: Si usted es el padre, tutor o guardían de un menor de edad que desea acceder a nuestro Servicio, al confirmar la cuenta mediante el correo electrónico que se haya proporcionado, ACEPTA Y DEJA DE MANIFIESTO QUE USTED CUENTA CON TODOS LOS DERECHOS NECESARIOS PARA REPRESENTAR AL MENOR DE EDAD
QUE HABRA DE USAR NUESTRA PLATAFORMA; A SU VEZ Y POR ENDE, ES TOTALMENTE RESPONSABLE DEL USO QUE EL MENOR DE EDAD LE DE A NUESTRO SERVICIO; ASI COMO EL QUE 
SE SUJETA, EN NOMBRE Y REPRESENTACION DEL MENOR, A TODOS LOS TERMINOS Y CONDICIONES DEL PRESENTE.
</p>
<h3>Cumplimiento a la Ley para la Protección de los derechos de niñas, niños y adolescentes</h3>
<p>zombiCody es una plataforma educativa y sin fines de lucro, que busca enseñar a las siguientes generaciones lógica, solución de problemas y principalmente a programar. Dado que nuestro público principal son niños y niñas, dejamos de manifiesto que el objetivo de esta plataforma es fomentar el desarrollo y educación. 
En ningún momento solicitamos datos personales de quienes ingresan a nuestra plataforma, salvo la edad del usuario, ni tenemos contacto alguno con nuestros usuarios y de llegar a ser requerido, la comunicación ocurre mediante el correo electrónico del padre, guardián o tutor del menor, mismo que fue proporcionado en el registro de la cuenta.
Por otra parte, zombiCody deja de manifiesto que al inicio del registro solicita se ingrese la fecha de nacimiento de usuario; lo anterior unicamente para verificar la edad y en caso de ser menor, se requerirá proporcione un correo electrónico de padre, guardián o tutor para la confirmación de la cuenta.
</p>

<a href="/">Regresa a página principal</a>