.container-confirmation {
  @include flex(flex, column, center, center);
  width: 100vw;
  height: 90vh;
  background-image: url('../images/identity/background.png');
  background-position: center;
  background-repeat: repeat;
  div {
    @include flex(flex, column, center, center);
    width: 90%;
    background-color: rgba($color: white, $alpha: 0.7);
  }
}

.confirmation-logo {
  width: 40vw;
}

.confirmation-text {
  color: $purple;
}

.confirmation-text h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-block-start: 1vh;
  margin-inline-start: 2vw;
  margin-inline-end: 2vw;
}

.confirmation-text p {
  font-size: 2rem;
  text-align: center;
  margin-block-start: 2vh;
  margin-inline-start: 2vw;
  margin-inline-end: 2vw;
}
