.dashboard-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    margin-inline-start: 5vw;
    margin-block-start: 2vh;
    color: $purple;
  }
  a {
    margin-inline-end: 5vw;
    margin-block-start: 2vh;
    color: $purple;
    font-size: 1.5rem;
  }
}


.dashboard-welcome {
  margin-block-start: 2vh;
  color: $purple;
  width: 100vw;
  height: 10vh;
  p {
    font-size: 2.5rem;
    margin-inline-start: 5vw;
    padding-block-start: 2.5vh;
    color: $gray;
  }
}

.dashboard-info {
  margin-block-start: 1vh;
  margin-inline-start: 5vw;
  p, ul > li {
    font-size: 2rem;
    color: $gray;
  }
  p {
    padding-block-end: 1vh;
  }
  ul {
    margin-block-start: 1vh;
    padding-inline-start: 5vw;
    padding-block-end: 1.5vh;
  }
}

.dashboard-image {
  @include flex(flex, column, center, center);
  background-image: url('../images/identity/background2.png');
  .white-image {
    @include flex(flex, column, center, center);
    margin: 20px 0;
    background-color: white;
    border: 5px solid $pink;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    img {
      width: 150px;
    }
  }
}
#profile-info {
  @include flex(flex, column, center, center);
  padding: 30px;
  h2 {
    color: $purple;
    font-size: 3rem;
  }
  a {
    @include flex(flex, row, center, center);
    background-color: $green;
    color: $purple;
    width: 120px;
    height: 40px;
    border: 3px solid $blue;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 10px;
  }
}

#title-achievements {
  @include flex(flex, row, center, center);
  h2 {
    text-align: center;
    color: $gray;
  }
}

.achievements {
  width: 100vw;
  @include flex(flex, row, center, center);
  .super-medal {
    width: 230px;
    @include flex(flex, column, center, center);
    background-color: rgba(255,255,255, 0.3);
    border-radius: 5px;
    padding: 20px;
    img {
      width: 100px;
    }
    h6 {
      font-size: 2rem;
      text-align: center;
      padding: 5px;
      height: 50px;
      margin-top: 10px;
      color: $gray;
    
    }
    p {
      font-size: 1.2rem;
      text-align: center;
      padding: 5px;
      height: 60px;
      margin-bottom: 20px;
      color: $gray;
    }
  }
}
