
.avatar {
  @include flex(flex, column, center, center);
  h2 {
    margin-inline-start: 5vw;
    margin-block-start: 2vh;
    color: $purple;
    }
  p {
    color: $purple;
    margin-inline-start: 5vw;
    margin-block-start: 2vh;
    font-size: 2rem;
    color: $gray;
  }
  form {
    //margin-block-start: 3vh;
    margin-block-end: 3vh;
    margin-inline-start: 5vw;
    margin-inline-end: 5vw; 
  }
}

.avatar-form {
  @include flex(flex, row, center, center);
  flex-wrap: wrap;
  img {
    display: flex;
    flex-direction: column;
    width: 75px;
  }
  div {
    @include flex(flex, column, center, center);
    margin-block-start: 4vh;
    margin-inline-end: 5vw;
    border: 3px solid $purple;
    border-radius: 10px;
  }
  input[type="radio"] {
    font-size: 30px;
    margin-bottom: 10px;
  }
  button {
    height: 100px;
    width: 80px;
  }
  
}

.delete {
  @include flex(flex, column, center, center);
  border: solid #cb2a1c;
  width: 90vw;
  margin-inline-start: 5vw;
  margin-block-end: 5vh;
  background-color: #feaea7;
  padding: 20px 10px;
}

.delete form {
  @include flex(flex, column, center, center);
  width: 90%;
  color: black;
  font-size: 2rem;
  h2 {
    margin-block-end: 2vh;
    padding: 10px;
  }
  label {
    font-size: 1.5rem;
    padding: 10px;
  }
  p {
    font-size: 1.2rem;
    padding: 10px;
  }
  input {
    width: 100%;
    height: 50px;
    border: 2px solid $pink;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
  }
  input[type=submit] {
    @include flex(flex, row, center, center);
    background-color: #feaea7;
    color: #cb2a1c;
    width: 70vw;
    height: 50px;
    border: 3px solid #cb2a1c;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 10px;
  }
}



