@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

a {
  text-decoration: none; }

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffd8;
  height: 20px;
  width: 175px; }
  #logo img {
    height: 40px; }
  #logo p {
    padding-left: 5px;
    font-family: 'Concert One', cursive;
    font-size: 2rem;
    color: #a98bd5; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  padding: 0 5vw;
  border-bottom: 3px solid #fafafa; }
  nav button {
    border: 0;
    background-color: white; }
  nav i {
    font-size: 3rem;
    color: #a98bd5; }
  nav #menu {
    position: absolute;
    top: 60px;
    left: -5vw;
    width: 105vw;
    height: 300px;
    background-color: #96ffe2;
    border-bottom: 3px solid #fafafa;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    nav #menu .link {
      width: 250px;
      height: 50px;
      margin-left: 5vw;
      text-align: center;
      padding-top: 5px;
      font-size: 3rem;
      background-color: #ffffd8;
      font-family: 'Concert One', cursive;
      color: #a98bd5; }

header {
  width: 100vw;
  height: 500px;
  background-image: url("../images/identity/background.png");
  background-position: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header div {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10%; }
    header div h2 {
      font-size: 3.5rem;
      margin-bottom: 20px;
      color: #a98bd5; }
    header div p {
      font-size: 2rem;
      color: #646464; }
    header div a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #96ffe2;
      color: #a98bd5;
      width: 70vw;
      height: 50px;
      border: 3px solid #76f3ff;
      border-radius: 5px;
      font-size: 1.5rem;
      margin-top: 10px; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; }
  section h2 {
    margin: 30px 0;
    font-size: 3rem;
    color: #646464; }
  section article {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw; }
    section article img {
      width: 50%; }
    section article h3 {
      font-size: 2rem;
      padding: 10px;
      color: #a98bd5; }
    section article p {
      font-size: 1.5rem;
      text-align: center;
      color: gray; }

footer {
  width: 100vw;
  background-color: #a98bd5;
  border-top: 3px solid #ffcfe1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer div img {
      width: 100px;
      margin-top: 10px; }
    footer div a {
      color: white;
      padding: 5px;
      font-size: 1.2rem; }
    footer div p {
      color: white;
      padding: 10px;
      text-align: center;
      margin: 20px 0;
      font-size: 1.2rem; }

.about {
  margin-inline-start: 5vw;
  margin-inline-end: 5vw; }
  .about h1 {
    margin-inline-start: 0;
    margin-block-end: 1.5vh; }
  .about h2, .about p {
    font-size: 2rem;
    color: black; }
  .about h2 {
    margin-block-start: 1.5vh;
    margin-block-end: 2vh; }

.about-a {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 6vw;
  margin-block-end: 5vh;
  color: #a98bd5;
  font-size: 2rem; }

.privacy {
  margin-inline-start: 5vw;
  margin-inline-end: 5vw; }
  .privacy h1 {
    margin-inline-start: 0;
    margin-block-end: 1.5vh; }
  .privacy h2 {
    font-size: 3rem;
    color: black;
    margin-block-start: 1.5vh;
    margin-block-end: 2vh; }
  .privacy h3 {
    color: black;
    font-size: 2rem;
    margin-block-start: 2vh;
    margin-block-end: 2vh; }
  .privacy p {
    font-size: 2rem;
    color: black; }

.privacy-a {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 6vw;
  margin-block-end: 5vh;
  color: #a98bd5;
  font-size: 2rem; }

.terms {
  margin-inline-start: 5vw;
  margin-inline-end: 5vw; }
  .terms h1 {
    margin-inline-start: 0;
    margin-block-end: 1.5vh; }
  .terms h2 {
    font-size: 3rem;
    color: black;
    margin-block-start: 1.5vh;
    margin-block-end: 2vh; }
  .terms h3 {
    color: black;
    font-size: 2rem;
    margin-block-start: 2vh;
    margin-block-end: 2vh; }
  .terms p {
    font-size: 2rem;
    color: black; }
  .terms ol > li {
    font-size: 2rem;
    color: black;
    margin-inline-start: 1.5vw;
    margin-block-end: 1vh; }

.terms-a {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 6vw;
  margin-block-end: 5vh;
  color: #a98bd5;
  font-size: 2rem; }

#all-courses {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 100vw; }
  #all-courses h1 {
    font-size: 4rem;
    padding: 10px 0;
    margin-bottom: 10px; }
  #all-courses .course-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    background-color: #ffcfe1;
    padding: 15px; }
    #all-courses .course-card div {
      margin-right: 10px; }
      #all-courses .course-card div h2 {
        font-size: 2.5rem;
        text-align: left;
        margin: 0; }
      #all-courses .course-card div p {
        font-size: 1.5rem;
        text-align: left;
        padding: 5px 0;
        margin: 3px 0; }
        #all-courses .course-card div p.course-code {
          background-color: #ffffd8;
          text-align: center;
          width: 150px; }
  #all-courses img {
    width: 90px; }

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh; }
  .container-column p {
    font-size: 1.5rem;
    color: #a98bd5;
    padding: 10px; }

#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #signup h2 {
    margin-bottom: 20px;
    color: #a98bd5; }
  #signup div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 70vw;
    padding: 10px 0; }
    #signup div label {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 3px; }
    #signup div input, #signup div select {
      width: 100%;
      height: 50px;
      border: 2px solid #ffcfe1;
      border-radius: 5px;
      font-size: 1.5rem;
      text-align: center;
      background-color: white; }
    #signup div select {
      margin-bottom: 20px; }
    #signup div label[for="email"],
    #signup div input[name="email"],
    #signup div label[for="username"],
    #signup div input[name="username"],
    #signup div label[for="password"],
    #signup div input[name="password"],
    #signup div label[for="email2"],
    #signup div label[for="role"],
    #signup div select[name="role"] {
      display: none; }
  #signup input[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: #96ffe2;
    color: #a98bd5;
    width: 70vw;
    height: 50px;
    border: 3px solid #76f3ff;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 10px; }

#validation {
  background-color: #96ffe2;
  color: #a98bd5;
  width: 70vw;
  height: 50px;
  border: 3px solid #76f3ff;
  border-radius: 5px;
  font-size: 1.5rem; }

.container-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background-image: url("../images/identity/background.png");
  background-position: center;
  background-repeat: repeat; }
  .container-confirmation div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7); }

.confirmation-logo {
  width: 40vw; }

.confirmation-text {
  color: #a98bd5; }

.confirmation-text h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-block-start: 1vh;
  margin-inline-start: 2vw;
  margin-inline-end: 2vw; }

.confirmation-text p {
  font-size: 2rem;
  text-align: center;
  margin-block-start: 2vh;
  margin-inline-start: 2vw;
  margin-inline-end: 2vw; }

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh; }

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #login h2 {
    margin-bottom: 20px;
    color: #a98bd5; }
  #login div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 70vw;
    padding: 10px 0; }
    #login div label {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 3px; }
    #login div input {
      width: 100%;
      height: 50px;
      border: 2px solid #ffcfe1;
      border-radius: 5px;
      font-size: 1.5rem;
      text-align: center;
      background-color: white; }
  #login input[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #96ffe2;
    color: #a98bd5;
    width: 70vw;
    height: 50px;
    border: 3px solid #76f3ff;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 10px; }

.dashboard-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .dashboard-title h1 {
    margin-inline-start: 5vw;
    margin-block-start: 2vh;
    color: #a98bd5; }
  .dashboard-title a {
    margin-inline-end: 5vw;
    margin-block-start: 2vh;
    color: #a98bd5;
    font-size: 1.5rem; }

.dashboard-welcome {
  margin-block-start: 2vh;
  color: #a98bd5;
  width: 100vw;
  height: 10vh; }
  .dashboard-welcome p {
    font-size: 2.5rem;
    margin-inline-start: 5vw;
    padding-block-start: 2.5vh;
    color: #646464; }

.dashboard-info {
  margin-block-start: 1vh;
  margin-inline-start: 5vw; }
  .dashboard-info p, .dashboard-info ul > li {
    font-size: 2rem;
    color: #646464; }
  .dashboard-info p {
    padding-block-end: 1vh; }
  .dashboard-info ul {
    margin-block-start: 1vh;
    padding-inline-start: 5vw;
    padding-block-end: 1.5vh; }

.dashboard-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .dashboard-image img {
    width: 30vw; }
  .dashboard-image p, .dashboard-image a {
    color: #646464;
    font-size: 2rem; }
  .dashboard-image a {
    margin-inline-start: 1vh;
    margin-block-start: 1vh; }

.achievements {
  width: 100vw;
  height: 50vh;
  background-image: url("../images/identity/background2.png");
  background-position: center;
  background-repeat: repeat; }
  .achievements p {
    font-size: 5rem; }

h1 {
  margin-inline-start: 5vw;
  margin-block-start: 2vh;
  color: #a98bd5; }

.avatar p {
  color: #a98bd5;
  margin-inline-start: 5vw;
  margin-block-start: 2vh;
  font-size: 2rem;
  color: #646464; }

.avatar form {
  margin-block-end: 3vh;
  margin-inline-start: 5vw;
  margin-inline-end: 5vw; }

.avatar-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .avatar-form img {
    display: flex;
    flex-direction: column;
    width: 18vw; }
  .avatar-form div {
    margin-block-start: 4vh;
    margin-inline-end: 5vw;
    border: solid #a98bd5;
    background-image: url("/images/identity/background2.png"); }
  .avatar-form input[type="radio"] {
    margin-inline-start: 9vw;
    margin-block-end: 5vh;
    font-size: 30px; }

.delete {
  display: flex;
  justify-content: center;
  border: solid #a73535;
  background-image: url("/images/identity/background.png");
  width: 80vw;
  margin-inline-start: 5vw;
  margin-block-end: 5vh;
  background-color: rgba(255, 0, 0, 0.1); }

.delete form {
  color: black;
  font-size: 2rem; }
  .delete form h2 {
    margin-block-end: 2vh; }
  .delete form label {
    font-size: 1.5rem; }
  .delete form input {
    border: solid #201c1c; }

#header-course {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 300px;
  background-color: #76f3ff;
  padding: 30px; }
  #header-course div {
    margin-right: 10px; }
    #header-course div h2 {
      font-size: 2.5rem;
      text-align: left;
      margin: 0; }
    #header-course div p {
      font-size: 1.5rem;
      text-align: left;
      padding: 5px 0;
      margin: 3px 0; }
      #header-course div p.course-code {
        background-color: #ffffd8;
        text-align: center;
        width: 150px; }
  #header-course img {
    width: 90px; }

#questions .circle {
  background-color: #fafafa;
  border: 3px solid #a98bd5;
  border-radius: 50%;
  width: 30px;
  height: 30px; }

#questions .horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 150px; }
  #questions .horizontal p {
    font-size: 1.5rem; }

#question-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; }
  #question-layout div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%; }
    #question-layout div h4 {
      font-size: 2rem;
      color: #a98bd5;
      margin-top: 30px; }
    #question-layout div p {
      margin-top: 30px;
      font-size: 2rem;
      color: #646464;
      text-align: center; }
    #question-layout div img {
      width: 350px; }
    #question-layout div form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 20px; }
      #question-layout div form .option {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px; }
        #question-layout div form .option input[type=radio] {
          border: 0px;
          width: 7%;
          height: 2.5rem; }
        #question-layout div form .option label {
          font-size: 2rem;
          margin-left: 10px; }
      #question-layout div form input[type=submit] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #96ffe2;
        color: #a98bd5;
        width: 70vw;
        height: 50px;
        border: 3px solid #76f3ff;
        border-radius: 5px;
        font-size: 1.5rem;
        margin-top: 10px; }
    #question-layout div #control-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #question-layout div #control-buttons a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #76f3ff;
        color: #a98bd5;
        width: 30vw;
        height: 50px;
        border: 3px solid #a98bd5;
        border-radius: 5px;
        font-size: 1.5rem;
        margin-top: 10px; }

/*# sourceMappingURL=style.css.map */