@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

a {
  text-decoration: none; }

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffd8;
  height: 20px;
  width: 175px; }
  #logo img {
    height: 40px; }
  #logo p {
    padding-left: 5px;
    font-family: 'Concert One', cursive;
    font-size: 2rem;
    color: #a98bd5; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  padding: 0 5vw;
  border-bottom: 3px solid #fafafa; }
  nav button {
    border: 0;
    background-color: white; }
  nav i {
    font-size: 3rem;
    color: #a98bd5; }
  nav #menu {
    position: absolute;
    top: 60px;
    left: -5vw;
    width: 105vw;
    height: 300px;
    background-color: #96ffe2;
    border-bottom: 3px solid #fafafa;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    nav #menu .link {
      width: 250px;
      height: 50px;
      margin-left: 5vw;
      text-align: center;
      padding-top: 5px;
      font-size: 3rem;
      background-color: #ffffd8;
      font-family: 'Concert One', cursive;
      color: #a98bd5; }

header {
  width: 100vw;
  height: 500px;
  background-image: url("../images/identity/background.png");
  background-position: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header div {
    width: 90%;
    background-color: rgba(255, 255, 216, 0.7);
    padding: 10%; }
    header div h2 {
      font-size: 3.5rem;
      margin-bottom: 20px;
      color: #a98bd5; }
    header div p {
      font-size: 2rem;
      color: #646464; }
    header div a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #96ffe2;
      color: #a98bd5;
      width: 70vw;
      height: 50px;
      border: 3px solid #76f3ff;
      border-radius: 5px;
      font-size: 1.5rem;
      margin-top: 10px; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; }
  section h2 {
    margin: 30px 0;
    font-size: 3rem;
    color: #646464; }
  section article {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw; }
    section article img {
      width: 50%; }
    section article h3 {
      font-size: 2rem;
      padding: 10px;
      color: #a98bd5; }
    section article p {
      font-size: 1.5rem;
      text-align: center;
      color: gray; }

footer {
  width: 100vw;
  background-color: #a98bd5;
  border-top: 3px solid #ffcfe1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer div img {
      width: 100px;
      margin-top: 10px; }
    footer div a {
      color: white;
      padding: 5px;
      font-size: 1.2rem; }
    footer div p {
      color: white;
      padding: 10px;
      text-align: center;
      margin: 20px 0;
      font-size: 1.2rem; }

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh; }

#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #signup h2 {
    margin-bottom: 20px;
    color: #a98bd5; }
  #signup div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 70vw;
    padding: 10px 0; }
    #signup div label {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 3px; }
    #signup div input {
      width: 100%;
      height: 50px;
      border: 2px solid #ffcfe1;
      border-radius: 5px;
      font-size: 1.5rem;
      text-align: center;
      background-color: white; }
    #signup div label[for="email"],
    #signup div input[name="email"],
    #signup div label[for="username"],
    #signup div input[name="username"],
    #signup div label[for="password"],
    #signup div input[name="password"] {
      display: none; }
  #signup input[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: #96ffe2;
    color: #a98bd5;
    width: 70vw;
    height: 50px;
    border: 3px solid #76f3ff;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 10px; }

#validation {
  background-color: #96ffe2;
  color: #a98bd5;
  width: 70vw;
  height: 50px;
  border: 3px solid #76f3ff;
  border-radius: 5px;
  font-size: 1.5rem; }

.container-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background-image: url("../images/identity/background.png");
  background-position: center;
  background-repeat: repeat; }
  .container-confirmation div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7); }

.confirmation-logo {
  width: 40vw; }

.confirmation-text {
  color: #a98bd5; }

.confirmation-text h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-block-start: 1vh;
  margin-inline-start: 2vw;
  margin-inline-end: 2vw; }

.confirmation-text p {
  font-size: 2rem;
  text-align: center;
  margin-block-start: 2vh;
  margin-inline-start: 2vw;
  margin-inline-end: 2vw; }

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh; }

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #login h2 {
    margin-bottom: 20px;
    color: #a98bd5; }
  #login div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 70vw;
    padding: 10px 0; }
    #login div label {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 3px; }
    #login div input {
      width: 100%;
      height: 50px;
      border: 2px solid #ffcfe1;
      border-radius: 5px;
      font-size: 1.5rem;
      text-align: center;
      background-color: white; }
  #login input[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #96ffe2;
    color: #a98bd5;
    width: 70vw;
    height: 50px;
    border: 3px solid #76f3ff;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 10px; }

.circle {
  background-color: #fafafa;
  border: 3px solid #a98bd5;
  border-radius: 50%;
  width: 30px;
  height: 30px; }

/*# sourceMappingURL=style.css.map */